<!DOCTYPE html>
<html lang="ja">
{% apply spaceless %}
<head>
  <meta charset="UTF-8">
  {% if SiteRobots %}
  <meta name="robots" content="{{ SiteRobots }}">
  {% endif %}
  <title>{{ SiteTitle }}</title>
  <meta name="description" content="{{ SiteDescription }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" type="application/rss+xml" title="{{ SiteTitle }} &raquo; フィード" href="/rss" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet" />
  <link rel='stylesheet' id='app-style-css' href='{{SiteURL}}/webpack/dest/app.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='style-customize-css' href='{{SiteURL}}/style-customize.css' type='text/css' media='all' />
</head>
{% endapply %}
<body>
<div id="app" class="site">
  <div
    class="d-flex justify-content-center align-items-center text-success site-preload"
    style="min-height:var(--maxvh,100vh)"
    v-if="hasPreLoad"
  >
    <div class="spinner-border h5 m-0 p-0" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="px-3">Loading...</div>
  </div>
  <div
    class="container-fluid"
    v-else
  >
    <div class="row">
      <div class="sidebar col-md-3 position-relative d-block collapse">
        <header class="site-header">

          <div class="site-header__heroe" v-on:click.ajaxreload="onAjaxReload()" style="cursor: pointer;">

            <h1 class="site-header__heroe__title">Feeder</h1>

            <div class="site-header__heroe__clock">
              <span v-html="clock.day"></span><br />
              <span v-html="clock.time"></span>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3 pe-3">
              <div
                class="spinner-grow text-success spinner-grow-sm"
                role="status"
                v-bind:style="autoload.display ? { visibility: 'visible' } : { visibility: 'hidden' }"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="px-2 text-success" v-html="autoload.latest"></div>
            </div>

          </div>

          <nav class="site-navigation">
            <ul class="site-navigation__list">
              <li
                class="site-navigation__list__item"
              >
                <a
                  href="javascript:void(0)"
                  v-on:click="changeCategory()"
                  v-bind:class="{'active': isActiveCategory === ''}"
                >
                  ホーム
                </a>
              </li>
              <li
                class="site-navigation__list__item"
                v-for="(category, index) in categories"
                :key="index"
              >
                <a
                  href="javascript:void(0)"
                  v-on:click="changeCategory(category)"
                  v-bind:class="{'active': isActiveCategory === category}"
                >
                  ${category}
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
      <div class="main col-md-9 ms-sm-auto px-md-5 pt-md-3 min-vh-100">

        {% block content %}{% endblock %}

        <footer class="site-footer">
          <div class="site-footer__branding">
            <a href="{{SiteURL}}" class="site-footer__branding__link" title="{{SiteTitle}}">{{SiteTitle}}</a>
          </div>

          <div class="site-powered">
            <a href="https://github.com/elkulo/Feeder" title="Github - elkulo/Feeder" target="_blank" class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
          </div>

          <div class="site-setting">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#__modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
              </svg>
            </button>
          </div>

          <div class="site-rss">
            <a href="/rss" title="Github - elkulo/Feeder" target="_blank" class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg>
            </a>
          </div>

          <div class="site-footer__copyright">
            <p>© {{SiteTitle}}, Built with Vue. </p>
          </div>
        </footer>
      </div>
    </div>
  </div>

{% include 'template-parts/modal.twig' %}
{% include 'template-parts/toast.twig' %}
{% include 'template-parts/page-top.twig' %}

</div><!-- #app -->
<script id='app-script-js' src="{{SiteURL}}/webpack/dest/app.min.js"></script>
</body>
</html>