{% extends 'templates/layout.twig' %}
{% block content %}

<div class="site">

<div class="container-fluid">
<div class="row">

<div class="col-md-3 d-block bg-dark sidebar collapse">
	<header class="site-header">

		<div class="heroe">

			<h1>Feeder</h1>
			<p>
				<span data-clock-days></span><br />
				<span data-clock-times></span>
			</p>

		</div>
	</header>
</div>

<div class="col-md-9 ms-sm-auto px-md-5 bg-light">
	<main id="app" class="site-section">

    	<ul class="tabs">
			{% for feed in feeder %}
        		<li class="tabs__item" v-on:click="change('{{feed.id}}')" v-bind:class="{'active': isActive === '{{feed.id}}'}">{{feed.name}}</li>
			{% endfor %}
  		</ul>

	{% for feed in feeder %}

		<template v-if="isActive === '{{feed.id}}'">
			<div class="site-section__header">
				<h2 class="site-section__header__title">{{feed.id}}. {{feed.name}}</h2>
			</div>

			{% if feed.succeed %}
				{% for post in feed.posts %}
					<section class="entry-section">
						<header class="entry-header">
							<h3><a href="{{post.link}}" title="{{post.title}}" target="_blank">{{post.title}}</a></h3>
							<p>{{post.date}}</p>
						</header>
						<div class="entry-content">
							<p>{{post.content}}</p>
						</div>
						<footer>
							<p>→ <a href="{{post.link}}" title="{{post.title}}" target="_blank">{{post.link}}</a></p>
						</footer>
					</section>
				{% endfor %}
			{% else %}
				<section>
					<header class="entry-header">
						<h2>Not Found.</h2>
					</header>
					<div class="entry-content">
						<p>投稿の取得に失敗しました。</p>
					</div>
				</section>
			{% endif %}

		</template>
	{% endfor %}
	</main>

	<footer class="site-footer">

		<div class="copyrights">

			<p>&copy; Feeder | el.kulo</p>

		</div>

	</footer>
</div>

</div>
</div>

{% endblock %}