{% extends 'templates/layout.twig' %}
{% block content %}

<div class="site">

<div class="container-fluid">
<div class="row">

<div class="col-md-3 d-block bg-dark sidebar collapse">
	<header class="site-header">

		<div class="site-header__heroe">

			<h1>Feeder</h1>
			<p>
				<span data-clock-days></span><br />
				<span data-clock-times></span>
			</p>

		</div>
	</header>
</div>

<div class="col-md-9 ms-sm-auto px-md-5 pt-md-3 bg-light">
	<main id="app" class="site-section">

		<nav class="site-navigation">
    		<ul class="site-navigation__tabs">
				{% for feed in feeder %}
        			<li class="site-navigation__tabs__item" v-on:click="change('{{feed.id}}')" v-bind:class="{'active': isActive === '{{feed.id}}'}">{{feed.name}}</li>
				{% endfor %}
  			</ul>
		</nav>

	{% for feed in feeder %}

		<template v-if="isActive === '{{feed.id}}'">
			<div class="site-section__header">
				<h2 class="site-section__header__title">{{feed.id}}. {{feed.name}}</h2>
			</div>

			{% if feed.succeed %}
				{% for key, post in feed.posts %}
					<section class="entry-section entry-section--{{key + 1}}">
						<header class="entry-section__header">
							<h3><a href="{{post.link}}" title="{{post.title}}" target="_blank">{{post.title}}</a></h3>
							<p>{{post.date}}</p>
						</header>
						<div class="entry-section__content">
							<p>{{post.content}}</p>
						</div>
						<footer>
							<p>→ <a href="{{post.link}}" title="{{post.title}}" target="_blank">{{post.link}}</a></p>
						</footer>
					</section>
				{% endfor %}
			{% else %}
				<section>
					<header class="entry-header">
						<h2>Not Found.</h2>
					</header>
					<div class="entry-content">
						<p>投稿の取得に失敗しました。</p>
					</div>
				</section>
			{% endif %}

		</template>
	{% endfor %}
	</main>

	<footer class="site-footer">

		<div class="site-footer__copyrights">

			<p>&copy; Feeder | el.kulo</p>

		</div>

	</footer>
</div>

</div>
</div>

{% endblock %}